* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  border: 1px solid #030303;
  background: white;
}

input[type='file'] {
  font-size: 16px;
  cursor: pointer;
}

input[type='range'] {
  -webkit-appearance: none;
  width: 200px;
  height: 10px;
  background: #ddd;
  outline: none;
  border-radius: 5px;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #3498db;
  cursor: pointer;
  border-radius: 50%;
}

input[type='range']::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #4caf50;
  cursor: pointer;
  border-radius: 50%;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
